*{margin:0px; padding:0px;/*overflow:hidden;*/}
#bottom{
	width:960px; height:115px; border-top:1px #E0E0E0 solid;
	margin:0px auto;
}
#bottom .more_info{
	height:35px;
}
#bottom .more_info ul{
	width:285px; height:35; 
	list-style:none; margin:0px auto; margin-top:30px;
}
#bottom .more_info ul li{
	display:block; float:left;
	text-align:center; margin: 0px 3px;
}
#bottom .more_info ul li a{
	font-size:13px; color:black;
	text-decoration:none;
}
#bottom .more_info ul li a:hover, #bottom .more_info ul li a:active{
	text-decoration:underline;
}
#bottom p{
	text-align:center; font-size:12px; color:gray;
}