*{margin:0px;padding:0px;/*overflow:hidden;*/}
.clear{clear:both}
#head1{
	width:1005px; height:35px; border-bottom:1px #E0E0E0 solid;
	margin:0px auto;
}
#head1 .nav{
	float:left;
	width:370px; height:33px;;
}
#head1 .nav ul{
	height:30px;width:350px;
	list-style:none; margin-left:5px;
}
#head1 .nav ul li{
	display:block; float:left; height:32px;
	text-align:center; line-height:32px;
	margin:0 3px;
}
#head1 .nav ul li a{color:black;font-size:15px;
	text-decoration:none;}
#head1 .nav ul li a:hover,#head1 .nav ul li a:active{
	text-decoration:underline;
}
#head1 .account{
	float:right;
	width:340px; height:33px;;
}
#head1 .account p{
	float:right; margin:5px 5px;
	font-size:13px; 
	text-align:center; vertical-align:middle;
}
#head1 .account p .gray{
	color:gray; 
}
#head1 .account p a{
	color:gray; text-decoration:none;
}
#head1 .account p a:hover, #head1 .account p a:active{
	text-decoration:underline;
}
#head2{
	width:1005px; height:85px;
	margin:0px auto;
}
#head2 .logo{
	float:left; width:185px; height:80px;
}
#head2 .logo p{
	display:block; margin:20px auto;
	font-size:30px; font-family:"微软雅黑"; font-weight:bold;
	text-align:center;
}
#head2 .logo p .thinksite{
	color:#1532B0;
}
#head2 .search{
	float:left; width:270px; height:80px;
}
#head2 .search #search_content{
	float:left;	width:186px; height:26px;
	margin:26px 3px;
}
#head2 .search #search_button{
	float:left;
	margin:26px 0px;
}
#head3{
	width:1005px; height:44px;
	margin:0px auto; background:#1F81B0;
}
#head3 ul{
	width:480px; height:32px;
	list-style:none; margin-left:30px;
}
#head3 ul li{
	display:block; float:left; margin:12px 16px;
	font-weight:bold; font-size:15px;
}
#head3 ul li a{
	text-decoration:none; color:white;
}
#head3 ul li a:hover, #head3 ul li a:active{
	text-decoration:underline;
}
#date{color:white;font-size:13px}