*{margin:0px; padding:0px;}
.highlight{
	color:#35A8D5;
}
#date{float:right;margin:0px 5px;margin-top:-20px;}
#top{
	width:960px; height:40px; border-bottom:3px #CACACA solid;
	margin:0px auto;
}
#top ul{
	list-style:none; margin-left:20px;
}
#top ul li{
	display:block; float:left; height:3px;
	margin:0 20px; line-height:38px;
	font-size:12px;
}
#top ul li a{
	text-decoration:none; color:black;
}

#top ul li a:hover, #top u li a:active{
	text-decoration:underline;
}
#middle{
	width:960px; height:960px;
	margin:0px auto;
}
#bottom{
	width:960px; height:70px;
	margin:0px auto;
}
#middle .course{
	float:left;
	width:210px; height:260px; border:1px #CACACA solid;
	margin:10px 14px;
}
#middle .course .thinksite{
	margin-top:40px;
	text-align:center; 
	font-size:27px; 
}
#middle .course .classroom{
	margin:5px;
	text-align:center;
	font-size:25px; font-weight:bold; color:#0B92F1;
}
#middle .course .course_name{
	margin-top:50px;
	text-align:center;
	font-size:15px; font-weight:bold;
}
#middle .course .price{
	text-align:center;
	font-size:13px;
}
#middle .course .buy{
	width:80px; height:25px; margin:10px 65px;
	text-align:center;
	font-size:12px; color:white; background:#6DBDEE;
}
#middle .pages{
	float:right; margin:30px 20px;
	width:145px; height:35px;
}
#middle .pages .page_current{
	float:left;
	width:30px; height:30px; margin:auto 1px;
	font-size:12px;
	line-height:30px; text-align:center;
}
#middle .pages .page_following{
	float:left; border:1px #CACACA solid; background:#F6F8F7;
	width:30px; height:30px; margin:auto 1px;
	font-size:12px;
	line-height:30px; text-align:center;
}
#middle .pages .nextpage{
	float:left; border:1px #CACACA solid; background:#F6F8F7;
	width:70px; height:30px; margin:auto 1px;
	font-size:12px;
	line-height:30px; text-align:center;
}
#middle .pages a{
	text-decoration:none; color:black;
}
#middle .pages a:hover, #middle .pages a:active{
	text-decoration:underline;
}
#bottom .guarantees{
	float:left; margin:10px 20px;
	width:430px; height:30px;
}
#bottom .guarantees ul{
	list-style:none;
}
#bottom .guarantees ul li{
	float:left; margin:4px 8px;
	font-size:15px;
}
#bottom .tips{
	float:right; margin:10px 20px;
	width:210px; height:30px;
}
#bottom .tips ul{
	list-style:none;
}
#bottom .tips ul li{
	float:left; margin:5px 4px;
	font-size:12px;
}
#bottom .tips a{
	text-decoration:none; color:#9D9D9D;
}
#bottom .tips a:hover, #bottom .tips a:active{
	text-decoration:underline;
}