*{margin:0px; padding:0px;}
#up{
	width:1005px; height:100px;
	margin:0px auto;
}
#up p{
	display:block; margin:38px 45px;
}
#down{
	width:1005px; height:650px;
	margin:0px auto;
}
#left{
	float:left;
	width:400px; height:450px;
	margin-left:40px;
}
#right{
	float:right;
	width:400px; height:500px;
	margin-right:110px;
}
#left .logo{
	width:368px; height:284px; background-color:#DAEDFB;
}
#left .logo .thinksite_en{
	display:block; float:left;
	width:250px; height:40px;
	margin-top:70px; margin-left:40px;
	color:#677EFF; font-size: 30px; font-weight:bold;
}
#left .logo .thinksite_ch{
	display:block; float:left;
	width:180px; height:40px;
	margin-left:150px; margin-top:15px;
	color:#077917; font-size:35px; font-family:"叶根友行书繁"; font-weight:bold;
}
#left .p1{
	display:block; float:left;
	width:360px; height:30px;
	margin-left:20px; margin-top:25px;
	font-size:20px;
}
#left .p2{
	display:block; float:left;
	width:340px; height:50px;
	margin-left:20px; margin-top:10px;
	font-size:15px; color:#828282;
}
#right .input_item{
	display:block; float:left;
	width:70px; height:30px;
	margin-left:10px; margin-top:20px;
}
#right .input_content{
	display:block; float:right;
	width:300px; height:30px;
	margin-right:10px; margin-top:20px;
}
#right .right0{
	border-bottom:1px #E6E7E9 solid;
	width:400px; height:70px;
	margin-top:10px;
}
#right .right1{
	border-bottom:1px #E6E7E9 solid;
	width:400px; height:130px;
}
#right .right2{
	border-bottom:1px #E6E7E9 solid;
	width:400px; height:220px;
}
#right .right3{
	width:400px; height:50px;
}
#right .input_content .input_long{
	width:270px; height:20px;
}
#right .input_content .input_short{
	width:150px; height:20px; display:block; float:left;
}
#right .right2 #img_captcha{
	float:right; margin-right:40px;
	width:105px; height:25px;
	background:url('../img/captcha.jpg') no-repeat center center;
}
#right .right2 #ifaccept input{
	float:left; margin-left:90px; margin-top:25px;
}
#right .right2 #ifaccept p{
	float:left; margin-top:20px;
	font-size:15px;
}
#right .right2 #ifaccept p a{
	text-decoration:none; color:#36B2E6;
}
#right .right2 #ifaccept p a:hover, #right .right2 #ifaccept p a:active{
	text-decoration:underline;
}
#right .right3 input{
	width:160px; height:35px;
	margin-left:100px; margin-top:10px;
}