*{margin:0px;padding:0px}
#tab_out{width:380px;border-collapse:collapse;margin:100px auto;border:2px solid silver}
#tab{width:350px;height:160px;border-collapse:collapse;margin:0px auto}
#tab td{border-top:1px solid #e2e2e2;font-size:14px;line-height:40px}
.title{height:40px;margin-left:20px;font-size:16px;font-weight:bold}
.title p{line-height:40px}
.left{width:105px;text-align:right}
.right input{width:180px;height:20px}
.sub{margin-left:80px}
.sub input{width:70px;height:25px;margin-left:20px;}
