body{margin-left:8px;margin-top:8px;}
table{margin-bottom:8px;margin-top:8px}
.outer_tab{width:98%;margin:0px auto;border:0px;border-spacing:1px;background:#CBD8AC;margin-top:8px;margin-bottom:8px}
.tr2{background:#FFFFFF}
#tabtitle{background:url("../images/frame/wbg.gif") #EEF4EA;}
#tabtitle span img{margin-right:10px}
.inner_tab{margin-left:20px}
.tdleft{width:100px}
.tdtitle{float:right;margin-right:10px}
.operation{text-align:center;height:40px}
.input_textarea{width:200px}
.inner_tab1{width:98%;border:0px;margin:0px auto;border-spacing:1px;background:#CFCFCF;margin-top:8px}
.inner_tab1 td{padding:2px}
.inner_tab1 tr{text-align:center}
.catename{text-align:left}
.catename span{margin-left:110px}
.inner_tab1_head{background:#FBFCE2}
.inner_tab1_content{background:#FFFFFF}
.buttons{cursor:pointer;border:0px;width:16px;height:16px}
