*{margin:0px;padding:0px}
#tab{width:350px;margin:50px auto;border-collapse:collapse}
#tab td{height:30px;border:1px solid #e2e2e2}
#tab .title{font-size:17px;font-weight:bold}
#tab .tdleft{text-align:right}
#tab .tdleft span{margin-right:10px;}
#tab .tdright{text-align:left}
#tab .sub{text-align:center}
#tab .sub input{width:60px;height:20px;}
a:link, a:visited{text-decoration:none}
a:hover, a:active{text-decoration:none}