*{margin:0px;padding:0px}
#tab{width:920px;margin:50px auto;border-collapse:collapse}
#tab td{border:1px solid #e2e2e2;text-align:center}
#tab .catename{width:500px;text-align:left;margin-left:10px;}
#tab .catename span{margin:0px 0px;margin-left:160px;}